/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-black: #000000;
  --color-light-beige: #e8ded1;
  --color-beige: #d1c0a8;
  --color-dark-beige: #bfaa8c;
  --color-brown: #a0816c;
  --color-light-olive: #918936;
  --color-olive: #45411d;

  /* Border size */
  --border-radius-size: 0.25rem;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  /* text-decoration: https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration */
  text-decoration: none;
  color: var(--color-olive);
}

ul {
  padding-left: 0;
}

li {
  /* list-style property needs to be assigned in li tag */
  list-style: none;
}

button {
  border: none;
  background-color: var(--color-light-beige);
}

/* Navbar */
#navbar {
  background-color: var(--color-light-beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.75em;
}

.navbar__logo {
  font-size: 1.5rem;
  color: var(--color-white);
}

.navbar__logo i {
  color: var(--color-olive);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 0.5em 0.75em;
}

.navbar__menu__item:hover {
  background-color: var(--color-beige);
  border-radius: var(--border-radius-size);
}

.navbar__icons {
  display: flex;
}

.navbar__icons li {
  padding: 0.5em 0.75em;
}

.navbar__toggle-btn {
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  color: var(--color-olive);
  display: none;
}

@media screen and (max-width: 48rem) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 1.5em;
  }

  .navbar__menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }

  .navbar__icons {
    justify-content: center;
    width: 100%;
    display: none;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
